// ========================================
// footer
// ========================================

html,
body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

html {
	background-color: $black;
}

body {
	opacity: 0;
	isolation: isolate;
	@include animation {
		transition: $transition-primary;
		transition-property: opacity;
	}
}

.loaded body {
	opacity: 1;
}

.starting-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	@include flex-c-c;
	background-color: rgba($black, 0.5);
	backdrop-filter: blur(50px);
	color: $white;
	@include animation {
		transition: $transition-primary;
		transition-property: opacity;
	}
}

.starting-overlay--inactive {
	opacity: 0;
}

.starting-overlay__container {
	max-width: 400px;
	@include flex-c-c;
	flex-direction: column;
	padding: 0 20px;
}

.starting-overlay__heading {
	margin-bottom: 20px;
}

.starting-overlay__desc {
	margin-bottom: 20px;
	text-align: center;
}

.hotspot-desc {
	font-weight: bold;
	background-color: $white;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-radius: 10px;
	opacity: 0;
	transform: translate(25px, -50%);

	@include animation {
		transition: $transition-primary;
		transition-property: opacity;
	}
}

.hotspot-desc--active {
	opacity: 1;
}

.room-name {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	border-radius: 0 0 15px 15px;
	background-color: rgba($black, 0.5);
	backdrop-filter: blur(10px);
	color: $white;
	padding: 20px;
	@include animation {
		transition: $transition-slow;
		transition-property: transform;
	}
}

.room-name--active {
	transform: translate(-50%, 0);
}

.canvas-wrap {
	position: relative;
}

.canvas-wrap__texture-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 5;
}

.canvas-wrap__texture {
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.05;
	pointer-events: none;
}
