// ========================================
// typography
// ========================================

.h1 {
	font-size: 36px;
	line-height: 100%;
}

.h2 {
	font-size: 36px;
	line-height: 100%;
	@include phone {
		font-size: 24px;
	}
}
